<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oil_manager</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.pool.size">140</property>
		<property name="hibernate.show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="Connection.useUnicode">true</property>
		<property name="connection.characterEncoding">utf-8</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>
		<mapping class="org.oil.manager.entity.WellBaseData" />
		<mapping class="org.oil.manager.entity.FluidPhysicalParameter" />
		<mapping class="org.oil.manager.entity.IndicatorWeightDistribution" />
		<mapping class="org.oil.manager.entity.RodStringDesignParameter" />
		<mapping class="org.oil.manager.entity.RodStructureParameter" />
		<mapping class="org.oil.manager.entity.WellProductData" />
		<mapping class="org.oil.manager.entity.WellDesignParameter" />
		<mapping class="org.oil.manager.entity.WellInflowTrend" />
	</session-factory>
</hibernate-configuration>